*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header{
    display: flex;
    justify-content: space-around;
    /*background-color: yellow;*/
}

.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: bisque;*/
}

.flechas{
    font-size: 2rem;
}

.div2{
    display: flex;
    justify-content: space-around;
    /*background-color: darkkhaki;*/
    flex-wrap: wrap;
}

.div3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    align-self: center;
}

footer{
    display: flex;
    justify-content: space-around;
}
.iconos {
    font-size: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.end-card{
    display: flex;
    justify-content: space-between;
}

.card-img-top{
    height: 10rem;
}


tr{
    font-size: 0.80rem;
    height: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    
}

table{
    width: 70%;
    align-self: center;
}

.details{
    display: flex;
    justify-content: space-around;
    /*background-color: aqua;*/
    width: 45%;
    align-self: center;
    height: 20rem;
    align-items: center;
    border: solid;
    border-radius: 15px;
    
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    header{
        flex-direction: column;
    }

    .logo{
        align-self: center;
    }

    ul{
        flex-direction: column;
        align-items: center;
    }
    .div2{
        flex-direction: column;
    }

    .list-group{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .details{
        border: none;
     flex-wrap: wrap;
     height: auto;
    }
}